$tablet: 992px;
$desktop: 1136px;
$brand: #B0A17C;
$primary: #000;
$secondary: #ffffff;
$bg: #3d3e56;
$primary-font: "Lato", sans-serif;
$secondary-font: "Source Serif Pro", serif; //Bennet Banner fanns inte tillgänglig.
$font-default: 14pt;
$font-larger:3em;
$font-large: 1.5em;
$font-small: 1.2em;
$font-smaller:0.8em;
$font-smallest: 0.5em;
