@use "mixins";
@use "frontpage";
@import "variables";



body {
  margin: 0;
  padding: 0;
  font-size: $font-default;
  color: $secondary;
  font-family: $primary-font;
  

  & h1 {
    font-family: $secondary-font;
  }

  & img:hover {
    transform: rotate(180deg);
    transition: 1s;
  }
  & img:not(:hover) {
    transform: rotate(-360deg);
    transition: 1.5s;
  }
  & button:hover {
    transform: scale(110%);
    transition: 0.3s;
  }
  & button:not(:hover) {
    transform: 100%;
    transition: 0.5s;
  }

  & li > a{
    position: relative;
    display: inline-block;
    font-size: $font-small;
    color: $brand;
    font-weight: 800;
    text-decoration: none;
    overflow: hidden;
    transition: clip-path 275ms ease;
    &:hover::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    &::before {
      position: absolute;
      content: attr(data-content);
      color: rgb(168, 132, 33);
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      transition: clip-path 275ms ease;
      text-decoration: underline;
    }
  }

  & a:visited {
    color:inherit;
  }

}

nav {
  display: flex;
  color: $brand;

  & .menu {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.3s linear;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20%;
    z-index: 99;
    background-color: $bg;
    list-style: none;
    margin: 0;
    @include mixins.for-size(desktop) {
      flex-direction: row;
      position: relative;
      transform: none;
      width: 100%;
    }
    & button.menu__item {
      @include mixins.button($brand, $primary);
      
    }

    & .menu__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      & #loggedOn {
        color: $secondary;
        font-size: $font-smallest;
        @include mixins.for-size(desktop) {
          font-size: $font-smaller;
        }
      }
      
      @include mixins.for-size(desktop) {
        flex-direction: row;
        margin-left: auto;
        padding-right: 5%;
       
      }
    }

    & .menu__item {
      text-transform: uppercase;
      display: block;
      margin: 1rem 2rem;
      font-size: $font-default;
      font-weight: 500;
      text-decoration: none;
      width: max-content;
      @include mixins.for-size(desktop) {
        margin: 0rem 2rem;
      }

      & img {
        width: 3rem;
        margin-top: 1rem;
      }
    }
  }

  & .hamburger {
    position: fixed;
    scale: 200%;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include mixins.for-size(desktop) {
      display: none;
    }
  }
  & .closeIcon {
    display: none;
    background-color: transparent;
  }

  & .showMenu {
    transform: translateY(0);
  }
}
.blur {
 filter:blur(8px);
}

